body {
	background-color: rgb(255, 255, 224);
	font-size: 12pt;
	text-align: center;
}
hr {
	width: 50%;
}
li {
	text-align: left;
}
p {
	text-align: justify;
	text-indent: 20pt;
	margin-top: 0.2pt;
	margin-bottom: 0.2pt;
}
div.fig {
	text-align: center;
	margin: 0 auto;
}
div.imagesize {
	width: 100%;
	height: auto;
}
