body {
	background-color: rgba(255, 255, 224, 0.8);
	font-size: 12pt;
	text-align: center;
}
hr {
	width: 50%;
}
li {
	text-align: left;
}
p {
	text-align: justify;
	text-indent: 20pt;
	margin-top: 0.2pt;
	margin-bottom: 0.2pt;
}
div.fig {
	text-align: center;
	margin: 0 auto;
}
div.imagesize {
	width: 100%;
	height: auto;
}

#begin {
	color: orange;
}

.chapter {
	color: rgba(255, 20, 147, 0.8);
	text-align: center;
	font-weight: 100;
}

.text {
	font-weight: 900;
	text-decoration: line-through;
	text-decoration: underline;
	text-transform: uppercase;
}
